{
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "eslint-plugin-node"],
  "ignorePatterns": ["webpack.config.js"],
  "extends": [
    "standard",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "rules": {
    "semi": [2, "always"],
    "semi-style": ["error", "last"],
    "camelcase": 0,
    "quotes": [1, "single", {
      "avoidEscape":  true,
      "allowTemplateLiterals": true
    }],
    "import/no-unresolved": "off"
  }
}
